header {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
    animation: show-header 3s;
}

header div {
    background: #eee;
    width: 100%;
    height: 80px;
    position: absolute;
    transition: all 0.5s;
}

header .transform-shape {
    width: 160px;
    height: 160px;
    transform: scale(4) rotateZ(80deg) translate(-64px, -60px);
}

header .big-title {
    font-family: monospace;
    font-size: 30px;
    line-height: 110px;
    text-indent: 40px;
    background: transparent;
}

#hello {
    color: #eee;
    font-family: monospace;
    font-size: 30px;
    width: 340px;
    height: 50px;
    position: absolute;
    top: calc((100% - 50px) / 2);
    left: calc((100% - 400px) / 2);
    padding: 0px 30px;
}

#hello::before {
    display: block;
    content: "Hello,";
    line-height: 50px;
    width: 120px;
    overflow: hidden;
    float: left;
    opacity: 0;
    animation: show-hello-before 3s;
}

#hello::after {
    display: block;
    content: "I'm Fixiabis";
    line-height: 50px;
    width: 220px;
    overflow: hidden;
    float: left;
    opacity: 0;
    animation: show-hello-after 3s;
}

@media screen and (max-width: 900px) {
    header div {
        height: 60px;
    }
    header .big-title {
        line-height: 70px;
    }
    header .transform-shape {
        transform: scale(4) rotateZ(80deg) translate(-70px, -60px);
    }
}

@media screen and (max-width: 700px) {
    header div {
        height: 50px;
    }
    header .big-title {
        line-height: 60px;
    }
    header .transform-shape {
        transform: scale(4) rotateZ(80deg) translate(-73px, -60px);
    }
}

@media screen and (max-width: 400px) {
    header .big-title {
        font-size: 25px;
        text-indent: 0px;
        text-align: center;
        line-height: 50px;
    }
    header .transform-shape {
        transform: scale(4) rotateZ(80deg) translate(-123px, -60px);
    }
    #hello {
        padding: 0px calc((100% - 340px) / 2);
        left: 0px;
    }
}

@media screen and (max-width: 340px) {
    header {
        animation: unset;
    }
    #hello {
        display: none;
    }
}

@keyframes show-header {
    0% {
        top: -160px;
    }
    75% {
        top: -160px;
    }
    100% {
        top: 0px;
    }
}

@keyframes show-hello-before {
    0%,
    100% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 1;
    }
}

@keyframes show-hello-after {
    0%,
    25%,
    100% {
        opacity: 0;
    }
    50%,
    75% {
        opacity: 1;
    }
}