article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    padding: 5px;
    min-height: calc(100vh - 60px);
}

section {
    background-color: #333;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% / 3 - 10px);
    height: calc(100vh - 80px);
    animation: scale 0.5s;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

@keyframes scale {
    from {
        opacity: 0;
        transform: scale(0.2);
    }
}

@media screen and (max-width: 1000px) {
    section { width: calc(100% - 10px); }
}