.circle-container {
    color: #222;
    background: #eee;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
}

.circle {
    background: inherit;
    width: 95%;
    height: 95%;
    overflow: hidden;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    z-index: 1;
    border-radius: 100%;
}

.circle-left-cover {
    background: inherit;
    z-index: 2;
}

.circle-left-cover,
.circle-left,
.circle-right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.circle-left,
.circle-right {
    background: #222;
    transform-origin: right;
    transition: transform 0.1s;
}

.circle-content {
    color: inherit;
    background: inherit;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 3;
    border-radius: 100%;
}