.scale-fade-io-container {
    background: #222;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 5px;
}
.scale-fade-io-view {
    color: #eee;
    background: #333;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all .5s;
}